<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_LUCKYONE_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;user id=SAS;password=ABC*123;initial catalog=LUCKYONE;Persist Security Info=true" />
        <add name="LUCKYONE.My.MySettings.LUCKYONEConnectionString" connectionString="Data Source=.;Initial Catalog=LUCKYONE;Persist Security Info=True;User ID=SAS"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>